{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    <li>Settings</li>
    <li>
        <a href="{{ path('elcweb_keyvaluestore_default_index') }}">Key Value Store</a>
    </li>
    <li class="active">{{ actionName }}</li>
{% endblock %}

{% block content %}

    <div class="col-md-2">
        {{ form_start(form, {'method': 'post'}) }}
        {{ form_widget(form) }}

        <span class="btn-group">
            <input type="submit" class="btn btn-primary" />
            <a class="btn btn-default" href="{{ path('elcweb_keyvaluestore_default_index') }}">Cancel</a>
        </span>
        {{ form_end(form) }}
    </div>
{% endblock %}
