{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    <li class="active">Key Value Store</li>
{% endblock %}

{% block content %}
    {% spaceless %}

        <a class="btn btn-primary" href="{{ path('elcweb_keyvaluestore_default_create') }}">Create New</a>

        <table id="mytable" class="tablesorter table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Key Name</th>
                <th>Value</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.key }}</td>
                    <td>{{ item.value }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default" title="Edit" href="{{ path('elcweb_keyvaluestore_default_edit', {'key': item.key}) }}">
                                Edit
                            </a>
                            <a class="btn btn-danger disabled" title="Delete" href="{{ path('elcweb_keyvaluestore_default_delete', {'key': item.key}) }}" onclick="return confirm('Delete?');">
                                Delete
                            </a>
                        </div>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock %}
