{% extends '::layout.html.twig' %}
{% block content %}
    {% spaceless %}
        <div class="span11">
            <ul class="breadcrumb">
                <li class="active">KeyValue</li>
            </ul>

                <a class="btn" href="{{ path('elcweb_keyvaluestore_default_create') }}">Create New</a>

            <table id="mytable" class="tablesorter table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Key Name</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.key }}</td>
                        <td>{{ item.value }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <a class="btn" title="Edit" href="{{ path('elcweb_keyvaluestore_default_edit', {'key': item.key}) }}">Edit</a>
                            <a class="btn btn-danger disabled" title="Delete" href="{{ path('elcweb_keyvaluestore_default_delete', {'key': item.key}) }}" onclick="return confirm('Delete?');">
                                Delete
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endspaceless %}
{% endblock %}
